
body {
  
}

h1 {
    font-weight: 200;
}
h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 200;
}


.App {
  text-align: center;
  background-color: #F7F6F7; 
}
.App-header {
  background-color: #FDDFDE;
  height: 80px;
  line-height: 100px;
  margin-top: -30px;
  color: white;
}

.inner {
  margin: 0 auto;
  display: inline-block;
}

.container {
  width: 900px;
  max-width: 80%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
