
.App {
  background-color: white; 
  text-align: center;
  height: 100%;
}

header {
  width: 1125px;
  display: inline-block;
  margin: 25px 0 25px 0;
}

h1 {
  font-weight: 200;
  text-align: left;
}

h2 {
  font-weight: 200;
  text-align: left;
  margin-bottom: 20px;
}

.inner {
  width: 1125px;
  display: inline-block;
}

.container {
  margin: 0 0 70px 0;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

