
body {
  
}

h1 {
    font-weight: 200;
}
h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 200;
}


.App {
  background-color: #F7F6F7; 
  text-align: center;
  height: 100%;
}
.App-header {
  background-color: #FDDFDE;
  height: 80px;
  line-height: 100px;
  margin-top: -30px;
  color: white;
}
.App-footer {
  background-color: #FDDFDE;
  height: 40px;
}

.inner {
  margin: 0 auto;
  display: inline-block;
}

.container {
  border: 0.5px solid lightgray;
  margin: 15px 0;
  padding: 5px 10px;
  /* width: 900px; */
  /* max-width: 80%; */
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
